* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 80%;
}

header {
    display: flex;
    gap: 20px;

}

header .item {
    background-color: #FFA437;
    min-height: 10vh;
    flex: 1;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.layout .top {
    min-height: 20vh;
    background-color: #DAEC00;
}

.layout .mid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.layout .mid .item {
    flex: 1;
    background-color: #4A89D0;
    min-height: 20vh;
}

.layout .bottom {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.layout .bottom .item {
    flex: 1;
    background-color: #E3E3E3;
    min-height: 10vh;
}

@media screen and (min-width:768px) and (max-width: 1200px) {
    header {
        flex-direction: column;
    }

    header .item {
        flex-grow: 1;
        flex-basis: calc(100% - 20px);
        min-height: 8vh;
    }

    .layout .mid .item {
        flex-grow: 1;
        flex-basis: calc(100% - 20px);
        min-height: 80px;
    }

    .layout .bottom .item {
        flex-basis: calc(100% / 2 - 20px);
        flex-grow: 1;
    }
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
    }

    header .item {
        flex-basis: calc(100% - 20px);
        flex-grow: 1;
        min-height: 6vh;
    }

    .layout .mid .item {
        flex-grow: 1;
        flex-basis: calc(100% - 20px);
        min-height: 15vh;
    }

    .layout .bottom .item {
        flex-basis: calc(100% - 20px);
        flex-grow: 1;
        min-height: 5vh;
    }
}