* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

header {
    display: flex;
    min-height: 60px;
    padding: 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header .logo {
    color: #9F4A4B;
    font-size: 30px;
}

header nav {
    background-color: #9F4A4B;
    width: calc(100% - 72px - 20px);
}

header nav p {
    font-size: 25px;
    color: white;
    text-align: center;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 30px;
}

.layout .top-layout {
    display: flex;
    gap: 20px;
    min-height: 45vh;
}

.layout .top-layout main {
    flex: 1.5;
    background-color: #9F4A4B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout .top-layout aside {
    background-color: #9F4A4B;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout .bottom-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.layout .bottom-layout .item {
    flex-grow: 1;
    flex-basis: calc(100% / 3 - 20px);
    min-height: 15vh;
    background-color: #9F4A4B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width:768px) and (max-width: 1200px) {
    .layout .top-layout {
        flex-direction: column;
    }

    .layout .bottom-layout .item {
        flex-grow: 1;
        flex-basis: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 767px) {
    .layout .top-layout {
        flex-direction: column;
    }

    .layout .bottom-layout .item {
        flex-grow: 1;
        flex-basis: calc(100% - 20px);
    }
}