* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

header {
    height: 50px;
    background-color: #78BCBE;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.layout .layout-top {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.layout .layout-top .item1 {
    flex: 1;
    background-color: #EB5C48;
    min-height: 150px;

}

.layout .layout-top .item2 {
    flex: 1;
    background-color: #F7B53F;
    min-height: 150px;

}

.layout .layout-mid {
    height: 50px;
    background-color: #78BCBE;
}

.layout .layout-bottom {
    display: flex;
    height: 150px;
    gap: 20px;
}

.layout .layout-bottom .item1 {
    flex: 1;
    background-color: #143B57;
}

.layout .layout-bottom .item2 {
    flex: 1;
    background-color: #EF7A71;
}

.layout .layout-bottom .item3 {
    flex: 1;
    background-color: #F3B641;
}

@media screen and (max-width:1023px) {

    .layout-bottom .item2,
    .layout-bottom .item3 {
        display: none;
    }

    .layout-top {
        flex-direction: column;
    }

}