* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 130px;
    background-color: #F44336;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

header .add {
    display: flex;
    width: 100%;
    justify-content: center;
}

header .add input {
    border-style: none;
    width: 80%;
    height: 30px;
    background-color: white;
    padding: 5px 0;
    padding-left: 10px;
}

header .add .button {
    padding: 5px 0;
    text-align: center;
    width: 10%;
    background-color: #D9D9D9;
}

header .add .button:hover {
    cursor: pointer;
    background-color: #b6b6b6;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

main .item {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #EEEEEE;
}

main .item p {
    margin-left: 10px;
}

main .item .exit {
    position: absolute;
    padding: 10px;
    right: 0;
    width: 30px;
    height: 100%;
}