* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.text-group {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.text-group button {
    width: 100px;
    height: 20px;
    order: 3;
}