* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.products-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.products-grid .product-cart {
    flex-basis: calc(100% / 2 - 10px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.products-grid .product-cart:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: scale(1.1);
    background-color: white;
}

.products-grid .product-cart .product-image {
    width: 70%;
    height: 60%;
}

.products-grid .product-cart .product-title {
    font-weight: 600;
}

.products-grid .product-cart .product-price {
    color: #E63946;
    font-weight: 600;
}

.products-grid .product-cart .add-to-cart-btn {
    padding: 8px;
    background-color: #388E3C;
    color: white;
    border-radius: 5px;
    width: fit-content;
}

.products-grid .product-cart .add-to-cart-btn:hover {
    cursor: pointer;
    background-color: #44ac49;
}

.cart-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: fit-content;
}

.cart-container .cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.cart-container .cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-container .cart-item-title {
    font-weight: bold;
}

.cart-container .cart-item-price {
    color: #E63946;
}

.empty-cart {
    padding: 20px 0;
    text-align: center;
    color: rgb(136, 136, 136);
}

.cart-container .cart-items .quantity-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.quantity-controls .decrease-btn,
.quantity-controls .increase-btn {
    background-color: rgb(76, 175, 80);
    color: white;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 8px;
    border-radius: 5px;
}

.quantity-controls .decrease-btn:hover,
.quantity-controls .increase-btn:hover {
    cursor: pointer;
    background-color: rgb(89, 202, 93);
}

.quantity-controls .remove {
    background-color: rgb(230, 57, 70);
    padding: 8px;
    color: white;
    border-radius: 5px;
}

.quantity-controls .remove:hover {
    cursor: pointer;
    background-color: rgb(255, 64, 80);
}

.cart-container .cart-total {
    width: 100%;
    text-align: right;
    font-size: 25px;
    font-weight: 600;
}

.cart-container .checkout-btn {
    background-color: rgb(67, 97, 238);
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.cart-container .checkout-btn:hover {
    cursor: pointer;
    background-color: rgb(81, 112, 252);
}