* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.container .button-group {
    display: flex;
    color: white;
    gap: 30px;
}

.button-group .button1 {
    padding: 20px;
    background-color: #4CAF50;
    border-radius: 10px;
}

.button-group .button1,
.button-group .button2 {
    cursor: pointer;
}

.button-group .button2 {
    padding: 20px;
    background-color: #F44336;
    border-radius: 10px;
}