* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5cdcd;
}

nav {
    display: flex;
}

.text {
    width: 400px;
    height: 200px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    background-color: #397070;
    margin: 10px;
}

img {
    margin: 10px;
    border-radius: 8px;

}

h2 {
    background: linear-gradient(to top, #ffffff, rgb(0, 0, 0));
    background-clip: text;
    color: transparent;
}

.boder {
    border: 5px solid black;
    border-radius: 5px;
    background-color: #829091;

}